<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<htmlpageheader name="header">
    <div class="header-container">
        <div class="header-first-row">
            <div class="first-row-left-section">
                <div class="fda-logo-wrapper"><img src="images/FDAlogo.png" alt="logo" style="width: 1.2in;" /></div>
                <div class="cover-letter-title">
                    <span class="letter-title-1">##SUB_LAB_TITLE##</span><br>
                    <span class="letter-title-2">National Quality Control  Analytical Laboratories – Nay Pyi Taw</span><br>
                    <span class="letter-title-3">Department of Food and Drug Administration, Ministry of Health</span><br>
                    <span class="letter-title-4">Pyi Gyi Zayyar Road, Zay Yar Theiddhi Quarter, Zabuthiri Township</span><br>
                    <span class="letter-title-5">Nay Pyi Taw, Myanmar</span>
                </div>
            </div>
            <div class="first-row-right-section">
                <div class="form-no">Form Number:<br/>##FORM_NO##</div>
                <div class="version-no">Version Number:<br/> ##VERSION_NO##</div>
            </div>
        </div>
        <div class="header-second-row">
            <div class="certificate-title">Title: Certificate of Analysis</div>
            <div class="effective-date">Effective Date: ##EFFECTIVE_DATE##</div>
            <div class="sop-number">SOP Number:<br/>##SOP_NO##</div>
        </div><!-- End of header-second-row  -->
    </div>
</htmlpageheader>
 
<page size="A4">
    <div class="sample-result-wrapper" style="width: 100%;height: 100%;background-color: transparent;font-size: 15px;padding: 4px 0;margin: 0;">
        <table class="sample-result" border="1"> 
            <tr>
                <td style="width: 355px;"><b>Sample ID –</b> ##SAMPLE_ID##</td>
                <td style="width: 355px;"><b>Laboratory No. –</b> ##LABORATORY_NO##</td>
            </tr>
            <tr>
                <td style="width: 355px;"><b>Application No. –</b> ##CUSTOMER_REFERENCE_NO##</td>
                <td style="width: 355px;"><b>Result Released Date –</b> ##RESULT_RELEASED_DATE##</td>
            </tr>
            <tr>
                <td style="width: 355px;"><b>Sample Received Date –</b> ##SAMPLE_RECEIVED_DATE##</td>
                <td style="width: 355px;"><b>Date of Analysis –</b> ##DATE_OF_ANALYSIS##</td>
            </tr>
            <tr>
                <td style="width: 355px;"><b>Brand  Name –</b>##BRAND_NAME##</td> 
                <td rowspan="2" style="width: 355px;height: auto;">
                    <b>Batch NO –</b> ##BATCH_NO##<br/>
                    <b>Mfg. Date –</b> ##MFG_DATE##<br/>
                    <b>Exp. Date  –</b> ##EXP_DATE##</p>
                </td> 
            </tr>  
            <tr>
                <td  style="width: 355px;"><b>Generic Name –</b> ##GENERIC_NAME##</td> 
            </tr>
            <tr>
                <td  style="width: 355px;">
                    <b>Manufacturer (Name and Address) –</b><br/>##MANUFACTURER_NAME_ADDRESS##
                </td>
                <td  style="width: 355px;">
                    <b>Customer (Name and Address) –</b><br/>##CUSTOMER_NAME_ADDRESS##
                </td>
            </tr>
            <tr>
                <td colspan="2" style="width: 710px;">
                    <b>Product Description and Presentation –</b><br/>##PRODUCT_DESCRIPTION_AND_PRESENTATION##
                </td> 
            </tr>
        </table>
     
        <table autosize="1" class="sample-result-detail" border="1" style="margin-top: 25px;margin-bottom: 15px;overflow: wrap;"> 
            <thead>
                <tr>
                    <th class="text-center bold sample-result-index" style="width: 36px;font-size: 14px;padding-top: 3px;">No.</th>
                    <th class="text-center bold sample-result-index" style="width: 130px;font-size: 14px;padding-top: 3px;">Test Parameter</th>
                    <th class="text-center bold sample-result-index" style="width: 100px;font-size: 14px;padding-top: 3px;">Result</th>
                    <th class="text-center bold sample-result-index" style="width: 188px;font-size: 14px;padding-top: 3px;">Specification (limit)</th>
                    <th class="text-center bold sample-result-index" style="width: 128px;font-size: 14px;padding-top: 3px;">Reference Method</th>
                    <th class="text-center bold sample-result-index" style="width: 128px;font-size: 14px;padding-top: 3px;">Conclusion</th>
                </tr>
            </thead>
            <tbody>##RESULTS##</tbody>
        </table>

        <table autosize="1" class="sample-result-detail" border="1" style="margin-top: 10px;overflow: wrap;"> 
            <tr>
                <td class="text-left lab-result-index" style="width: 180px;padding: 5px 0 5px 7px;font-size: 15px;">Result Status:</td>
                <td class="text-left lab-result-value" style="width: 530px;padding: 9px 0 5px 7px;font-size: 15px">
                    <span><img class="sat-label" style="width: 16px;height: 16px;position: absolute;margin-bottom: -4px;" src="##SAT_CHECKED##" />&nbsp;##SAT##</span>
                    &nbsp;&nbsp;
                    <span><img class="unsat-label" style="width: 16px;height: 16px;position: absolute;margin-bottom: -4px;" src="##UNSAT_CHECKED###" />&nbsp;##UNSAT##</span>
                    &nbsp;&nbsp;
                    <span><img class="nocomment-label" style="width: 16px;height: 16px;position: absolute;margin-bottom: -4px;" src="##NOCOMMENT_CHECKED##" />&nbsp;##NOCOMMENT##</span>
                </td>
            </tr>
        </table>

        <table autosize="1" class="sample-result-detail" border="1" style="margin-top: 10px;overflow: wrap;"> 
            <tr>
                <td class="text-left" style="padding: 5px 0 5px 7px;font-size: 15px;width: 355px;">
                    <br/><br/>Analyst<br/>(Name and sign)
                </td>
                <td class="text-left" style="padding: 5px 0 5px 7px;font-size: 15px;width: 355px;">
                    <br/><br/>Laboratory  Officer/Technical Manager<br/>(Name and sign)
                </td>
            </tr>
        </table>

        <div class="final-remark">
            <p class="final-remark-index" style="text-align: center;margin: 0;font-weight: bold;"><b>Final Remark</b></p>
            <p class="final-remark-value" style="margin: 0;">##FINAL_REMARK##</p>
            <p class="text-right final-remark-signature" style="display:block;margin: 0;text-align: right;">Signature/ Date<br/>Deputy Director (Lab)</p>
        </div>

        <div class="certificate-remark">
            <p class="certificate-remark-1" style="margin: 0;line-height: 15px;">Remark: This Certificate of Analysis is only related to the received and tested samples by the Laboratory, Nay Pyi Taw.Results cannot be extrapolated to other samples or batches.</p>
            <p class="certificate-remark-2" style="margin: 0;line-height: 15px;">This certificate is NOT to be used for advertising and promotional purpose.</p>
            <p class="certificate-remark-3" style="margin: 0;line-height: 15px;">* This test method is not under the scope of ISO/IEC 17025:2017 Accreditation of Pharmaceutical Chemistry Laboratory, Nay Pyi Taw.</p>
        </div>
    </div>
</page>

<htmlpagefooter name="footer">
    <div class="pcl-footer-wrapper">
        <div class="pcl-condidential-wrapper">
           <h3 class="pcl-condidential-header-text">CONDIDENTIAL</h3>
           <p class="pcl-condidential-body-text1">In printed form,this document is a <b>CONTROLLED DOCUMENT</b> when stamped <b>TRUE COPY</b>.</p>
           <p class="pcl-condidential-body-text2">This document is the property of the Department of Food and Drug Administration, Myanamr.</p>
        </div>
        <div class="anab-img-wrapper">##ANAB_IMG##</div>
    </div>
    <div><p style="text-align: center;font-size: 13px;margin: 0;">{PAGENO}/{nbpg}</p></div>
</htmlpagefooter> 
<!-- <htmlpagefooter name="footer">
    <div class="pml-footer-wrapper">
      <p style="text-align: center;font-size: 13px;margin: 0;">{PAGENO}/{nbpg}</p>
    </div>
</htmlpagefooter> -->

  </body>
</html>