body {
    /*font-family:Calibri;*/
    font-family:pyidaungsu;
    font-size: 12.5pt;
    line-height: 22px;
    text-align: justify; 
}
page[size="A4"] {
    background: white;
    width: 21cm;
    display: block;
    margin: 0 auto 0;
    margin-bottom: 0.5cm;
    border: 1px solid #000;
}

@media print {
    body, page[size="A4"] {
        margin: 0;
        box-shadow: 0;
        border: none;
    }
}

@page {
    background-image-resize: 6;
    header: html_header;
    footer: html_footer;
}

/*  @page :first {
    header: html_firstheader;
    margin-top: 128mm;
} */


.align-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
} 

.header-container {
    width: 100%;
    height: 110px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 15px;
}

.header-container .header-first-row {
    width: calc( 100% - 2px );
    height: 108px;
    padding: 0;
    margin: 0;
    border: 1px solid #000;
}

.header-container .header-first-row .first-row-left-section {
    width: 539px;
    height: 110px;
    background-color: transparent;
    float: left;
    padding: 0;
    margin: 0;
    border: 0;
}

.header-container .header-first-row .first-row-left-section .fda-logo-wrapper {
    width: 95px;
    height: 96px; 
    /* padding: 5px; */
    margin: 0;
    border: 0;
    float: left;
    padding: 7px;
    border-right: 1px solid #000;
} 
.header-container .header-first-row .first-row-left-section .cover-letter-title {
    width: calc( 100% - 109px );
    height: 110px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    float: left;
    text-align: center;
    border: 0;
    /* border-bottom: 1px solid #000; */
    /* border-top: 1px solid #000; */
}
.header-container .header-first-row .first-row-left-section .cover-letter-title .letter-title-1 {
    font-size: 14px;text-align: center;display: block;font-weight: bold;
}
.header-container .header-first-row .first-row-left-section .cover-letter-title .letter-title-2 {
    font-size: 14px;text-align: center;display: block;font-weight: bold;
}
.header-container .header-first-row .first-row-left-section .cover-letter-title .letter-title-3 {
    font-size: 14px;text-align: center;display: block;font-weight: bold;
}
.header-container .header-first-row .first-row-left-section .cover-letter-title .letter-title-4 {
    font-size: 14px;text-align: center;display: block;font-weight: bold;
}
.header-container .header-first-row .first-row-left-section .cover-letter-title .letter-title-5 {
    font-size: 14px;text-align: center;display: block;font-weight: bold;
}

.header-container .header-first-row .first-row-right-section {
    width: 149px;
    height: 110px;
    float: right;
    padding: 0;
    margin: 0;
    border-left: 1px solid #000;
}
.header-container .header-first-row .first-row-right-section .form-no {
    width: 100%;
    height: 47px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #000;
    padding-top: 7px;
    padding-left: 7px;
    font-size: 14px;
}

.header-container .header-first-row .first-row-right-section .version-no {
    width: 100%;
    height: 47px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    padding-top: 7px;
    padding-left: 7px;
    font-size: 14px;
}

.header-container .header-second-row {
    width: 708px;
    height: 53px;
    padding: 0;
    margin: 0;
    position: relative; 
    border:1px solid #000;
    display: nones;
    border-top: none;
}

.header-container .header-second-row .certificate-title {
    width: 269px;
    height: 45px;
    /* padding: 7px 0 3px 7px; */
    margin: 0;
    padding: 5px;
    float: left;
    border: 0;
    border-right:1px solid #000;
    font-size: 14px;
    /* 
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000; */
}

.header-container .header-second-row .effective-date {
    width: 269px;
    height: 45px;
    /* padding: 7px 0 3px 0; */
    /* text-indent: 7px;; */
    margin: 0; 
    float: left;  
    border: 0;
    padding: 5px;
    font-size: 14px;
    border-right:1px solid #000;
    /* border-right: 1px solid #000; */
    /* border-bottom: 1px solid #000;       */
}
.header-container .header-second-row .sop-number {
    width: 136px;
    height: 45px;
    margin: 0; 
    float: right;
    border: 0;
    padding: 5px;
    font-size: 14px;
} 

br {
    line-height: 15px;
}

/* Body */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table.sample-result, 
table.sample-result th,
table.sample-result td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
    padding: 7px 0 3px 7px;
}
.sample-result-wrapper {
    width: 100%;height: 100%;background-color: transparent;font-size: 15px;padding: 4px 0;margin: 0;
}
.pcl-footer-wrapper {
    width: 680px;height: auto;font-size: 15px;padding: 0;background-color: transparent;margin: 0 0 5px;
}
.pcl-condidential-wrapper {
    width: 560px;height: 60px;background-color: transparent;font-size: 15px;padding: 5px 0 0;float: left;margin: 0
}
.pcl-condidential-wrapper .pcl-condidential-header-text {
    margin: 12px 0 4px 146px;text-align: center;
}
.anab-img-wrapper {
    width: 120px;height: 70px;background-color: transparent;font-size: 15px;padding: 0;float: right;margin: 0;text-align: right;
}
.pcl-condidential-body-text1 {
    font-size: 12px;margin: 0 0 0 50px;padding: 0;line-height: 17px;text-indent: 5px;background-color: transparent;
}
.pcl-condidential-body-text2 {
    font-size: 12px;margin: 0 0 0 50px;padding: 0;line-height: 17px;text-indent: 5px;background-color: transparent;
}

.final-remark {
    width: 100%;min-height: 80px;height: auto;background-color: transparent;font-size: 15px;padding: 0;border:1px solid #000;margin-top: 0;border-top: none;
}

.certificate-remark {
    width: 100%;height: auto;background-color: transparent;font-size: 13px;padding: 4px;font-weight: bold;
}

.pml-footer-wrapper,
.bl-footer-wrapper {
    width: 680px;height: auto;font-size: 15px;padding: 0;margin: 0 0 5px;
}
.red-text-calss {
    color: red !important;
}

.no-border {
    border: none;
}